.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  color: gray;
  cursor: pointer;
}
.headerOption:hover {
  color: #000;
}

.headerOption__title {
  font-size: 12px;
  font-weight: 400;
}

@media (max-width: 360px) {
  .headerOption {
    margin-right: 5px;
    margin-top: 10px;
  }
}
